<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.png" />
  <title>House Price Predictor</title>
</head>

<body class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(66, 66, 66)">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/static/house.png" alt="" width="30" height="24" class="d-inline-block align-text-top" />
        Bengaluru House Price Predictor
      </a>
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://www.linkedin.com/in/shreshth-maurya/"
            target="_blank">My LinkedIn</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            More projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li>Coming SOON</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="card" style="width: 100%; height: 100%; margin-top: 50px">
        <div class="card-header" style="text-align: center">
          <h2><strong>House Price Predictor</strong></h2>
        </div>
        <div class="card-body">
          <form method="post" action="" accept-charset="utf-8" autocomplete="off">
            <div class="row">
              <div class="col-md-6 form-group" style="text-align: center; margin-bottom: 1%">
                <label><b>Select the location:</b></label>
                <select class="select picker form-select" id="location" name="location" required="required">
                  {% for location in locations %}
                  <option value="{{ location }}">{{ location }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 form-group" style="text-align: center; margin-bottom: 1%">
                <label><b>Enter BHK:</b></label>
                <select class="select picker form-select" id="bhk" name="bhk" required="required">
                  {% for r in bhk %}
                  <option value="{{ r }}">{{ r }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 form-group" style="text-align: center; margin-bottom: 1%">
                <label><b>Enter number of Bathrooms:</b></label>
                <select class="select picker form-select" id="bath" name="bath" required="required">
                  {% for r in bath %}
                  <option value="{{ r }}">{{ r }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 form-group" style="text-align: center; margin-bottom: 1%">
                <label><b>Enter square feet:</b></label>
                <input type="text" class="form-control" id="total_sqft" name="total_sqft" placeholder="Enter sqft" />
                <p class="error-message" id="error_message" style="display: none; color: red;">Enter a valid integer value.</p>
              </div>
              <div class="col-md-6 form-group" style="text-align: center; margin-bottom: 3%">
                <label><b>Number of balcony: </b></label>
                <select class="select picker form-select" id="balcony" name="balcony" required="required">
                  {% for r in balcony %}
                  <option value="{{ r }}">{{ r }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-md-6 form-group" style="text-align: center; margin-bottom: 3%">
                <label><b>Facing</b></label>
                <select class="select picker form-select" id="face" name="face" required="required">
                  {% for r in face %}
                  <option value="{{ r }}">{{ r }}</option>
                  {% endfor %}
                </select>
              </div>
              <br />
              <div class="col-md-12 form-group">
                <button class="btn btn-primary form-control" onclick="send_data()">
                  Predict Price
                </button>
              </div>
            </div>
          </form>
          <br />
          <div class="col-md-12" style="text-align: center">
            <h3><span id="prediction"></span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function form_handler(event) {
      event.preventDefault();
    }
    function send_data() {
      document.querySelector("form").addEventListener("submit", form_handler);
      var fd = new FormData(document.querySelector("form"));
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/predict", true);
      document.getElementById("prediction").innerHTML = "LOADING....";
      xhr.onreadystatechange = function () {
        if (xhr.readyState == XMLHttpRequest.DONE) {
          document.getElementById("prediction").innerHTML =
            "<strong>Estimated Price:</strong> Rs. " + xhr.responseText;
        }
      };

      xhr.onload = function () { };
      xhr.send(fd);
    }
  </script>
  <script>
    const totalSqftInput = document.getElementById('total_sqft');
    const errorMessage = document.getElementById('error_message');

    totalSqftInput.addEventListener('input', function() {
      const value = this.value.trim();

      if (!value || isNaN(value) || !Number.isInteger(parseFloat(value))) {
        this.classList.add('error');
        errorMessage.style.display = 'block';
      } else {
        this.classList.remove('error');
        errorMessage.style.display = 'none';
      }
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>